@font-face {
  font-family: "iconfont"; /* Project id 2326140 */
  src: url('iconfont.woff2?t=1658318440679') format('woff2'),
       url('iconfont.woff?t=1658318440679') format('woff'),
       url('iconfont.ttf?t=1658318440679') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vo-jifenmingxi:before {
  content: "\e6d0";
}

.vo-shenhe:before {
  content: "\e61d";
}

.vo-daochu:before {
  content: "\e60e";
}

.vo-recruitment:before {
  content: "\e605";
}

.vo-xinyong:before {
  content: "\e602";
}

.vo-tianxie:before {
  content: "\e61b";
}

.vo-tubiao:before {
  content: "\e612";
}

.vo-shanchu:before {
  content: "\e614";
}

.vo-bohuiyuanyinguanli:before {
  content: "\e62a";
}

.vo-yishenhe:before {
  content: "\e649";
}

.vo-daibandengdaishenhe:before {
  content: "\e67e";
}

.vo-bohui:before {
  content: "\e642";
}

.vo-1:before {
  content: "\e611";
}

.vo-guanliyuan:before {
  content: "\e6fb";
}

.vo-icon-:before {
  content: "\e672";
}

.vo-V:before {
  content: "\e710";
}

.vo-zuzhi:before {
  content: "\e616";
}

.vo-zhiyuanmonitianbao:before {
  content: "\e610";
}

.vo-rizhi:before {
  content: "\e60d";
}

.vo-gonggao:before {
  content: "\e731";
}

.vo-shenhe_gaizhang:before {
  content: "\e688";
}

.vo-shenqing2:before {
  content: "\e691";
}

.vo-shenhe12:before {
  content: "\e696";
}

.vo-qunzu:before {
  content: "\e603";
}

.vo-xiugai:before {
  content: "\e607";
}

.vo-shangchuan1:before {
  content: "\e62f";
}

.vo-shangchuan1-copy:before {
  content: "\e732";
}

.vo-shengchenggongdan:before {
  content: "\e626";
}

.vo-biao:before {
  content: "\e608";
}

.vo-chenggong:before {
  content: "\e606";
}

.vo-xinxi:before {
  content: "\e6f5";
}

.vo-cuowu1:before {
  content: "\e64b";
}

.vo-sousuo:before {
  content: "\e634";
}

.vo-yitongguo:before {
  content: "\e600";
}

.vo-collapse:before {
  content: "\e694";
}

.vo-refresh:before {
  content: "\e67b";
}

.vo-unlock:before {
  content: "\e682";
}

.vo-user:before {
  content: "\e683";
}

